*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.container{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #765BA7;
    background: linear-gradient(90deg, rgb(118, 91, 167) 0%, rgb(115, 111, 76) 100%);

    p{
        position: fixed;
        top: 24px;     
        left: 50%;
        transform: translateX(-50%);

        font-family: sans-serif;
        font-size: 14px; 
        color: whitesmoke;
        letter-spacing: 0.06em;
        margin: 0;
        pointer-events: none;
    }
}