*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.container{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #765BA7;
    background: linear-gradient(90deg, rgb(118, 91, 167) 0%, rgb(115, 111, 76) 100%);
}